<html>
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='common.js') }}"></script>
  </head>
  <body>
    <h1>Ninjas</h1>
    <p>Japan's era of shoguns and samurai is long over, but the country does have one, or maybe two, surviving ninjas. Experts in the dark arts of espionage and silent assassination, ninjas passed skills from father to son - but today's say they will be the last.</p>
     
  </body>
</html>